<button class="btn btn-primary" id="add-polygon" data-type="Polygon">
  Add a polygon
</button>
<button class="btn btn-primary" id="add-circle" data-type="Circle">
  Add a point
</button>
<button class="btn btn-primary" id="upload-file">
  Upload a file
</button>

<div class='loading'>
</div>

<% if (area.polygons.length > 0) { %>
  <ul id="poly-stat-list">
    <% if (typeof results.Coverage !== 'undefined') { %>
      <li>
        Sum AOI covering PA's (km2)
        <span class="result">
          <% if (results.Coverage.error_message) { %>
            <span class="error"><%= results.Coverage.error_message %></span>
          <% } else { %>
            <span class="value"><%= addCommasToNumber(Math.round(results.Coverage.value)) %></span>
            <span class="unit"><%= results.Coverage.unit %></span>
          <% } %>
        </span>
      </li>
    <% } %>
    <% if (typeof results['Protected Area Count'] !== 'undefined') { %>
      <li>
        Number of Protected Areas in AOI
        <span class="result">
          <% if (results['Protected Area Count'].error_message) { %>
            <span class="error"><%= results['Protected Area Count'].error_message %></span>
          <% } else { %>
            <span class="value"><%= addCommasToNumber(results['Protected Area Count'].value) %></span>
            <span class="unit"><%= addCommasToNumber(results['Protected Area Count'].unit) %></span>
          <% } %>
        </span>
      </li>
    <% } %>
  </ul>

  <% if (results.Coverage && results.Coverage.error_message) { %>
    <div class="polygons" style="top:180px;">
  <% } else { %>
    <div class="polygons" style="top:135px;">
  <% } %>
    <ul id='polygon-list'>
    <%
      var paDetails, polygonResults, i, j, il, jl;
      if (typeof results.Details !== 'undefined') {
    %>
      <% 
        if (results.Details.error_message) {
      %>
        <li>
          <h3>Sorry, there was an error:</h3>
          <p>Unable to gather protected area stats:</p>
          <p>
            mypolygon was unable to complete your analysis, this may
            be because the area of analysis is too
            large or complex. See the <a href="/static/help">Help
            section</a> for more information and what you
            can do.
          </p>
        </li>
      <%  } else {
            for (i = 0, il = results.Details.value.length; i < il; i++) {
              polygonResults = results.Details.value[i];
      %>
        <li>
          <h3 class="aoi-details-header hide"><a href="#" class="aoi-delete" data-id="<%= polygonResults.id %>">x</a> AOI #<%= i + 1 %> <span><a></a></span></h3>
          <div class="aoi-details" style="display: none">
            <p>AOI size: <%= addCommasToNumber(roundToDecimals(polygonResults.query_area_km2, 0)) %>km<sup>2</sup></p>
            <p>AOI PA coverage: <%= addCommasToNumber(roundToDecimals(polygonResults.sum_pa_cover_km2, 0)) %>km<sup>2</sup></p>

            <h4>Protected Areas</h4>

            <ul class='protected-area-details'>
      <%
            for (j = 0, jl = polygonResults.protected_areas.length; j < jl; j++) {
              paDetails = polygonResults.protected_areas[j];
              console.log(paDetails);
      %>
              <li>
                <h4><%= paDetails.name %></h4>
                <a href="http://protectedplanet.net/sites/<%= paDetails.wdpaid %>" target="_blank">View on Protected Planet</a>
                <p>IUCN Category: <%= paDetails.data_standard.IUCN_CAT %></p>
                <p>Designation: <%= paDetails.data_standard.DESIG_ENG %></p>
                <table>
                  <tr>
                    <th>Total Size</th>
                    <th>Size overlap with AOI</th>
                  </tr>
                  <tr>
                    <td><%= addCommasToNumber(roundToDecimals(paDetails.protected_area_km2, 0)) %><span class="unit">km2</span></td>
                    <td><%= addCommasToNumber(roundToDecimals(paDetails.query_area_protected_km2, 0)) %><span class="unit">km2</span></td>
                  </tr>
                </table>
              </li>
      <%    } %>
            </ul>
          </div>
        </li>
    <%
        }
      }
    }
    %>
    </ul>
  </div>
<% } %>

<div class="footer hidden">
  <% if (area.polygons.length > 0) { %>
    <a href="http://magpie.unepwcmc-005.vm.brightbox.net/areas_of_interest/<%= this.area.get('id') %>.csv" class="btn btn-primary" id="export">Export your report</a>
  <% } %>
</div>
