<button class="btn btn-primary" id="add-polygon" data-type="Polygon">
<% if (area.polygons.length > 0) { %>
  Draw another polygon
<% } else { %>
  Draw a polygon
<% } %>
</button>
<button class="btn btn-primary" id="add-circle" data-type="Circle">
<% if (area.polygons.length > 0) { %>
  Draw another point
<% } else { %>
  Draw a point
<% } %>
</button>

<% if (area.polygons.length > 0) { %>
  <h3 class="stat-header">AOI Size<span class='result'></span></h3>
  <div id="area-stats">
    <ul id="poly-stat-list">
      <% if (typeof results['Protected Areas'] !== 'undefined') { %>
        <li>
          Number of Protected Areas in AOI
          <span class="result">
            <span class="value"><%= results['Protected Areas'].value %></span>
            <span class="unit"><%= results['Protected Areas'].unit %></span>
          </span>
        </li>
      <% } %>
      <% if (typeof results["% Coverage"] !== 'undefined') { %>
        <li>
          % of AOI covering Protected Areas
          <span class="result">
            <span class="value"><%= results.Coverage.value %></span>
            <span class="unit"><%= results.Coverage.unit %></span>
          </span>
        </li>
      <% } %>
      <% if (typeof results.Coverage !== 'undefined') { %>
        <li>
          AOI covering Protected Areas (km2)
          <span class="result">
            <span class="value"><%= results.Coverage.value %></span>
            <span class="unit"><%= results.Coverage.unit %></span>
          </span>
        </li>
      <% } %>
    </ul>
  </div>
<% } %>
<% if (area.polygons.length > 0) { %>
  <div class="footer hidden">
    <button type="button" class="btn btn-primary" id="export">Export your report</button>
  </div>
<% } %>
