<button class="btn btn-primary" id="add-polygon" data-type="Polygon">
<% if (area.polygons.length > 0) { %>
  Draw another polygon
<% } else { %>
  Draw a polygon
<% } %>
</button>
<button class="btn btn-primary" id="add-circle" data-type="Circle">
<% if (area.polygons.length > 0) { %>
  Draw another point
<% } else { %>
  Draw a point
<% } %>
</button>

<% if (area.polygons.length > 0) { %>
  <ul id="poly-stat-list">
    <% if (typeof results.Coverage !== 'undefined') { %>
      <li>
        Sum AOI covering PA's (km2)
        <span class="result">
          <span class="value"><%= Math.round(results.Coverage.value) %></span>
          <span class="unit"><%= results.Coverage.unit %></span>
        </span>
      </li>
    <% } %>
    <% if (typeof results['Protected Areas'] !== 'undefined') { %>
      <li>
        Number of Protected Areas in AOI
        <span class="result">
          <span class="value"><%= results['Protected Areas'].value %></span>
          <span class="unit"><%= results['Protected Areas'].unit %></span>
        </span>
      </li>
    <% } %>
  </ul>
  <ul id='polygon-list'>
  <%
    var paDetails, polygonResults, i, j, il, jl;
    if (typeof results.Details !== 'undefined') {

      for (i = 0, il = results.Details.value_json.length; i < il; i++) {
        polygonResults = results.Details.value_json[i];
  %>
    <li>
      <h3 class="aoi-details-header hide">AOI #<%= i %></h3>
      <div class="aoi-details" style="display: none">
        <p>AOI size: <%= roundToDecimals(polygonResults.query_area_km2, 1) %>km<sup>2</sup></p>
        <p>AOI PA coverage: <%= roundToDecimals(polygonResults.sum_pa_cover_km2, 1) %>km<sup>2</sup></p>
        <ul class='protected-area-details'>
  <%
        for (j = 0, jl = polygonResults.protected_areas.length; j < jl; j++) {
          paDetails = polygonResults.protected_areas[j];
          console.log(paDetails);
  %>
          <li>
            <h4><%= paDetails.name %></h4>
            <a href="http://protectedplanet.net/sites/<%= paDetails.wdpaid %>" target="_blank">View on Protected Planet</a>
            <p>IUCN Category: <%= paDetails.data_standard.IUCN_CAT %></p>
            <p>Designation: <%= paDetails.data_standard.DESIG_ENG %></p>
            <table>
              <tr>
                <th>Total Size</th>
                <th>Size overlap with AOI</th>
              </tr>
              <tr>
                <td><%= roundToDecimals(paDetails.protected_area_km2, 1) %><span class="unit">km2</span></td>
                <td><%= roundToDecimals(paDetails.query_area_protected_km2, 1) %><span class="unit">km2</span></td>
              </tr>
            </table>
          </li>
  <%    } %>
        </ul>
      </div>
    </li>
  <%
      }
    }
  %>
  </ul>

<% } %>
<% if (area.polygons.length > 0) { %>
  <div class="footer hidden">
    <a href="http://magpie.unepwcmc-005.vm.brightbox.net/areas_of_interest/<%= this.area.get('id') %>.csv" class="btn btn-primary" id="export">Export your report</a>
  </div>
<% } %>
